.navigationMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 64px;
    min-height: 80px;
    background-color: var(--globalBlackMedium);
}