.navigationMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 64px;
    min-height: 80px;
    background-color: var(--globalBlackMedium);
}

.logout {
    margin-left: auto;
    color: var(--globalWhiteColor);
    border: 2px solid var(--globalBlueColorMeduim);
}

.logout:hover {
    background: var(--globalBlackMedium);
}

.logout:active {
    border: 2px solid var(--globalBlueColorLight);
}