.infoBox {
    width: 100%;
    border-radius: var(--border-radius);
    min-height: 40px;
    padding: 8px 16px;
}

.infoBox.success {
    border: 2px solid var(--globalGreenColorDark);
}

.infoBox.warning {
    border: 2px solid var(--globalYellowColor);
}

.infoBox.danger {
    border: 2px solid var(--globalRedColor);
}

.gap {
    margin-bottom: 8px;
}

.gap:last-child {
    margin-bottom: 0;
}