.customReactNavLink {
    display: inline-block;
    color: var(--globalWhiteColor);
    text-decoration: none;
    cursor: pointer;
    margin-right: 32px;
}

.customReactNavLink:hover {
    color: var(--globalBlueColorLight);
}

.customReactNavLink.active {
    color: var(--globalBlueColorLight);
}