.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
}

.createPostButton {
    margin: 16px 0;
}

.errorBlock {
    margin-bottom: 16px;
}

.loader {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}